/*
couleurs :
vert : #81904C
violet : #A888E0
rouge : #F61347
*/

/* ---------------------------- RESET ---------------------------- */
* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { scroll-behavior: smooth; }

body {
  font-family: 'Anton', sans-serif;
  color: #f5f5f5;
  background-color: #0d0d0d;
  overflow-x : hidden;
}

/* ---------------------------- HEADER ---------------------------- */

header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: 20px 60px; 
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 10;
}

  header h1 {
    font-size: 16px;
    color: #A888E0;
    letter-spacing: 1px;
  }

  nav a {
    color: #f5f5f5;
    text-decoration:none;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
  }

  nav a:hover{
    color : #A888E0;
  }

  /* ---------------------------- HERO ---------------------------- */

  .hero {
    position: relative;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height :100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.4);*/
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    max-width: 800px;
    padding: 20px;
  }

  .hero-content p {
    margin: 15px 0;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .title {
    font-size: 8rem;
    font-weight: 700;
    color: #A888E0;
    
  }


/* ---------------------------- FOOTER ---------------------------- */

footer{
  text-align: center;
  padding: 30px;
  background: #0a0a0a;
  color: #888;
  font-size: 0.9rem;
}

/* ---------------------------- ANIMATION ---------------------------- */

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  RESPONSIVE  */

@media (max-width: 768px) {
  header {
    padding: 15px 30px;
    flex-direction : column;

  }

  .title {
    font-size: 2.2rem;

  }

  .hero-content p {
    font-size: 1rem;
  }
}

/* ---------------------------- PRESENTATION ---------------------------- */

.poster {
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #81904C;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
  font-family: 'Anton', sans-serif;
  position: relative;
}

.poster-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 60px;
  align-items: center;
}

.poster-text {
  flex: 1 1 500px;
}

.poster-text h2 {
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  color: #81904C;
  text-transform: uppercase;
}

.poster-text .subtitle {
  font-size: 2rem;
  color: #81904C;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.poster-text .description {
  font-size: 1.1rem;
  color: #d6ffd6;
  line-height: 1.7;
  max-width: 500px;
}

/* ---------------------------- PHOTO CV ---------------------------- */

.poster-image {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.poster-image img {
  width: 100%;
  max-width: 300px;
  border: 3px solid #81904C;
  filter: grayscale(100%) contrast(120%);
  border-radius: 15px;
}

/* ---------------------------- COMPETENCES ---------------------------- */

.competences {
  position: relative;
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #F61347;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 60px;
  text-align: center;
  overflow: hidden; 
}

.competences h2 {
  position: relative;
  font-size: 4rem;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #F61347;
}

.competences .subtitle {
  position: relative;
  font-size: 1.5rem;
  color: #f8396f;
  margin-bottom: 60px;
}

.competences-grid {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  max-width: 1000px;
}

.competence-item {
  position:relative;
  flex: 1 1 280px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #F61347;
  border-radius: 20px;
  padding: 30px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.competence-item:hover {
  transform: translateY(-10px);
  background: rgba(0, 0, 0, 1);
}

.competence-item h3 {
  position: relative;
  color: #F61347;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.competence-item ul {
  position:relative;
  list-style: none;
  text-align: left;
  padding: 0;
}

.competence-item li {
  position:relative;
  margin-bottom: 8px;
  color: #F61347;
  font-size: 1rem;
}


#bg-video_competences {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height :100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(40%);
  }


/* ---------------------------- PROJET ---------------------------- */

.projet {
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #A888E0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 60px;
  font-family: 'Anton', sans-serif;
  position: relative;
}

.projet-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 60px;
  align-items: left;
}

  .hero-content h1 {
    margin: 15px 0;
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .title {
    font-size: 8rem;
    font-weight: 700;
    color: #A888E0;
    
  }


  #bg-video_projet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height :100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(40%);
  }






